<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wx.mapper.ArticleMapper">

    <select id="list" resultType="com.wxs.entities.Article">
        select * from urls;
    </select>

    <insert id="insert" parameterType="com.wxs.entities.Article">
        insert into articles (
            title, `type`, url, content, create_at
        ) values (
            #{title, jdbcType=VARCHAR},
            #{type, jdbcType=VARCHAR},
            #{url, jdbcType=LONGVARCHAR},
            #{content, jdbcType=VARCHAR},
            now()
        )
    </insert>
</mapper>